# Chapter 2, Part 1; Pandas

## Exercise 1

Load the file **boston_temperature.csv** to a pandas DataFrame, and plot the average temperature in Boston. You don't need to specify an X axis at this point.

*Remember that you want to read **boston_temperature.csv**, NOT **boston_temperature_last3months.csv***

### Tips for exercise 1

A very usefull package for manipulating data in python is *pandas*. To load a csv file into a DataFrame named *data* simply type:

In [3]:
data=pd.read_csv('boston_temperature_last3months.csv')

If you want to have a quick peek at your DataFrame type its name and run the line

In [4]:
data

    Day  High   Low  Precip.   Snow  Year  Month
0     1  36.8  23.5     0.12   0.39  2019      1
1     2  36.6  23.3     0.24   0.79  2019      1
2     3  36.5  23.1     0.31   1.18  2019      1
3     4  36.3  22.9     0.43   1.61  2019      1
4     5  36.2  22.8     0.55   2.09  2019      1
5     6  36.1  22.6     0.67   2.52  2019      1
6     7  35.9  22.5     0.79   2.91  2019      1
7     8  35.8  22.3     0.87   3.31  2019      1
8     9  35.7  22.2     0.98   3.82  2019      1
9    10  35.6  22.1     1.10   4.21  2019      1
10   11  35.6  22.0     1.22   4.69  2019      1
11   12  35.5  21.9     1.34   5.12  2019      1
12   13  35.5  21.9     1.42   5.51  2019      1
13   14  35.4  21.8     1.54   5.98  2019      1
14   15  35.4  21.8     1.65   6.42  2019      1
15   16  35.4  21.8     1.77   6.89  2019      1
16   17  35.4  21.7     1.89   7.28  2019      1
17   18  35.4  21.7     1.97   7.72  2019      1
18   19  35.4  21.7     2.09   8.11  2019      1
19   20  35.4  21.7     2.20   8.50  2019      1
20   21  35.4  21.8     2.28   9.02  2019      1
21   22  35.5  21.8     2.40   9.41  2019      1
22   23  35.5  21.8     2.52   9.69  2019      1
23   24  35.6  21.9     2.64  10.12  2019      1
24   25  35.7  22.0     2.72  10.51  2019      1
25   26  35.8  22.0     2.83  10.91  2019      1
26   27  35.9  22.1     2.95  11.30  2019      1
27   28  36.0  22.2     3.03  11.69  2019      1
28   29  36.1  22.3     3.15  12.09  2019      1
29   30  36.2  22.4     3.27  12.52  2019      1
..  ...   ...   ...      ...    ...   ...    ...
63    2  36.6  23.3     0.24   0.79  2019      3
64    3  36.5  23.1     0.31   1.18  2019      3
65    4  36.3  22.9     0.43   1.61  2019      3
66    5  36.2  22.8     0.55   2.09  2019      3
67    6  36.1  22.6     0.67   2.52  2019      3
68    7  35.9  22.5     0.79   2.91  2019      3
69    8  35.8  22.3     0.87   3.31  2019      3
70    9  35.7  22.2     0.98   3.82  2019      3
71   10  35.6  22.1     1.10   4.21  2019      3
72   11  35.6  22.0     1.22   4.69  2019      3
73   12  35.5  21.9     1.34   5.12  2019      3
74   13  35.5  21.9     1.42   5.51  2019      3
75   14  35.4  21.8     1.54   5.98  2019      3
76   15  35.4  21.8     1.65   6.42  2019      3
77   16  35.4  21.8     1.77   6.89  2019      3
78   17  35.4  21.7     1.89   7.28  2019      3
79   18  35.4  21.7     1.97   7.72  2019      3
80   19  35.4  21.7     2.09   8.11  2019      3
81   20  35.4  21.7     2.20   8.50  2019      3
82   21  35.4  21.8     2.28   9.02  2019      3
83   22  35.5  21.8     2.40   9.41  2019      3
84   23  35.5  21.8     2.52   9.69  2019      3
85   24  35.6  21.9     2.64  10.12  2019      3
86   25  35.7  22.0     2.72  10.51  2019      3
87   26  35.8  22.0     2.83  10.91  2019      3
88   27  35.9  22.1     2.95  11.30  2019      3
89   28  36.0  22.2     3.03  11.69  2019      3
90   29  36.1  22.3     3.15  12.09  2019      3
91   30  36.2  22.4     3.27  12.52  2019      3
92   31  36.3  22.5     3.35  12.91  2019      3

[93 rows x 7 columns]

Pandas allows you to select a column from a DataFrame using the name of the column. You get as a result another object called a Series; this object includes the values of the columns together with the name of each row.

In [5]:
print data['Low']

0     23.5
1     23.3
2     23.1
3     22.9
4     22.8
5     22.6
6     22.5
7     22.3
8     22.2
9     22.1
10    22.0
11    21.9
12    21.9
13    21.8
14    21.8
15    21.8
16    21.7
17    21.7
18    21.7
19    21.7
20    21.8
21    21.8
22    21.8
23    21.9
24    22.0
25    22.0
26    22.1
27    22.2
28    22.3
29    22.4
      ...
63    23.3
64    23.1
65    22.9
66    22.8
67    22.6
68    22.5
69    22.3
70    22.2
71    22.1
72    22.0
73    21.9
74    21.9
75    21.8
76    21.8
77    21.8
78    21.7
79    21.7
80    21.7
81    21.7
82    21.8
83    21.8
84    21.8
85    21.9
86    22.0
87    22.0
88    22.1
89    22.2
90    22.3
91    22.4
92    22.5
Name: Low, Length: 93, dtype: float64

You can use *values* to generate an array that contains only the values of the column.

In [7]:
T=data['Low'].values
print T

[23.5 23.3 23.1 22.9 22.8 22.6 22.5 22.3 22.2 22.1 22.  21.9 21.9 21.8
 21.8 21.8 21.7 21.7 21.7 21.7 21.8 21.8 21.8 21.9 22.  22.  22.1 22.2
 22.3 22.4 22.5 23.5 23.3 23.1 22.9 22.8 22.6 22.5 22.3 22.2 22.1 22.
 21.9 21.9 21.8 21.8 21.8 21.7 21.7 21.7 21.7 21.8 21.8 21.8 21.9 22.
 22.  22.1 22.2 22.3 22.4 22.5 23.5 23.3 23.1 22.9 22.8 22.6 22.5 22.3
 22.2 22.1 22.  21.9 21.9 21.8 21.8 21.8 21.7 21.7 21.7 21.7 21.8 21.8
 21.8 21.9 22.  22.  22.1 22.2 22.3 22.4 22.5]

### Write your code here

## Exercise 2

Convert every date to years; approximate each month as $\frac{1}{12}$ of a year and each day as $\frac{1}{30}$ of a month, and save this into a new column of the DataFrame. Then plot the temperature vs. this new time variable.

### Tips for exercise 2

To add a column to a DataFrame you can start with a list, a numpy array, a series, or any other column from the same DataFrame. The only thing you have to take care of is that the array (or list) is the same length as the DataFrame. 

If we want to create the new column 'time' we do:

In [61]:
data['time']=data['year']-1.+data['month']/12.+data['day']/(30.*12.)

### Write your code here

## Exercise 3

Calculate the minimum temperature by year and save it into a file. You should create a new DataFrame to do this.

### Tips for exercise 3

The benefit of loading your data into a DataFrame is that pandas has many functions to manipulate data, including, but not limited to: merging two tables, filtering rows by condition, pivoting data, and grouping rows by condition.

To group rows according to same year, use the mean as a grouping function, and generate a new DataFrame named data_year write:

In [66]:
data_year=data.groupby('year').mean()

You can use other grouping functions, such as the max, min, or even define your own.

In [ ]:
data_year=data.groupby('year').max()

You will notice that some columns are pointless, like the day column.

To create a DataFrame selecting only the columns you care about the syntax is as follows

In [69]:
data_year=data_year[['High']]

To save the DataFrame *data* into a file named 'data.csv' write:

In [72]:
data.to_csv('data.csv')

### Write your code here

## Exercise 4

Calculate the average temperature of every January of every year and plot it.

### Tips for exercise 4

Pandas allows you to easily filter rows according to a condition set on one of its columns. For example if you want to filter only values from year *2015*

In [101]:
data_filtered=data[data['year']==2015]

### Write your code here:

## Exercise 5

Load the file **boston_precip.csv** to a pandas DataFrame and combine it with the temperature information. Save the result into a file that has both, information about temperature in Boston and information about snowfall in Boston. Your file should look like a longer version of **boston_temperature_last3months.csv**.

### Tips for exercise 5

The operation of combining two DataFrames about the same units is called **merge**. The tip for this exercise is to open a new tab in your browser and google how to merge two DataFrames. Google for:

**pandas merge two dataframes**

### Write your code here: