# Chapter 1, Part 4; Pandas

## Exercise 1

Load the file **boston_temperature.csv** to a pandas DataFrame, and plot the average temperature in Boston. You don't need to specify an X axis at this point.

*Remember that you want to read **boston_temperature.csv**, NOT **boston_temperature_last3months.csv***

### Tips for exercise 1

A very usefull package for manipulating data in python is *pandas*. To load a csv file into a DataFrame named *data* simply type:

In [3]:
data=pd.read_csv('boston_temperature_last3months.csv')

If you want to have a quick peek at your DataFrame type its name and run the line

In [54]:
data

    year  month  day  Tmax  Tav  Tmin
0   2014     12    1    64   52    39
1   2014     12    2    42   38    33
2   2014     12    3    51   44    37
3   2014     12    4    43   37    30
4   2014     12    5    42   34    26
5   2014     12    6    45   42    38
6   2014     12    7    38   30    21
7   2014     12    8    29   24    18
8   2014     12    9    49   39    29
9   2014     12   10    48   43    38
10  2014     12   11    39   36    32
11  2014     12   12    39   35    31
12  2014     12   13    42   37    32
13  2014     12   14    45   39    33
14  2014     12   15    42   37    32
15  2014     12   16    44   40    35
16  2014     12   17    49   45    41
17  2014     12   18    44   40    36
18  2014     12   19    37   33    29
19  2014     12   20    36   32    27
20  2014     12   21    36   33    30
21  2014     12   22    44   39    33
22  2014     12   23    47   45    42
23  2014     12   24    46   44    41
24  2014     12   25    59   52    44
25  2014     12   26    50   44    37
26  2014     12   27    52   45    38
27  2014     12   28    52   46    40
28  2014     12   29    41   36    30
29  2014     12   30    30   26    22
..   ...    ...  ...   ...  ...   ...
54  2015      1   24    34   33    31
55  2015      1   25    38   29    19
56  2015      1   26    29   20    11
57  2015      1   27    19   17    14
58  2015      1   28    24   19    13
59  2015      1   29    32   21    10
60  2015      1   30    34   27    19
61  2015      1   31    21   16    11
62  2015      2    1    30   21    12
63  2015      2    2    31   21    10
64  2015      2    3    22   14     6
65  2015      2    4    38   26    14
66  2015      2    5    36   22     7
67  2015      2    6    21   13     5
68  2015      2    7    29   23    16
69  2015      2    8    29   21    13
70  2015      2    9    25   20    14
71  2015      2   10    30   22    14
72  2015      2   11    25   20    14
73  2015      2   12    30   23    16
74  2015      2   13    22   15     7
75  2015      2   14    30   17     3
76  2015      2   15    20    9    -2
77  2015      2   16    19    8    -3
78  2015      2   17    23   17    10
79  2015      2   18    29   23    17
80  2015      2   19    30   20    10
81  2015      2   20    20   13     5
82  2015      2   21    34   19     4
83  2015      2   22    39   36    32

[84 rows x 6 columns]

Pandas allows you to select a column from a DataFrame using the name of the column. You get as a result another object called a Series; this object includes the values of the columns together with the name of each row.

In [56]:
print data['Tmin']

0     39
1     33
2     37
3     30
4     26
5     38
6     21
7     18
8     29
9     38
10    32
11    31
12    32
13    33
14    32
...
69    13
70    14
71    14
72    14
73    16
74     7
75     3
76    -2
77    -3
78    10
79    17
80    10
81     5
82     4
83    32
Name: Tmin, Length: 84, dtype: int64

You can use *values* to generate an array that contains only the values of the column.

In [57]:
T=data['Tmin'].values
print T

[39 33 37 30 26 38 21 18 29 38 32 31 32 33 32 35 41 36 29 27 30 33 42 41 44
 37 38 40 30 22 20 22 31 22 35 17 15  4 -1 19 17 15 33 15 14 25 15  9 20 32
 27 22 29 24 31 19 11 14 13 10 19 11 12 10  6 14  7  5 16 13 14 14 14 16  7
  3 -2 -3 10 17 10  5  4 32]

### Write your code here

## Exercise 2

Convert every date to years; approximate each month as $\frac{1}{12}$ of a year and each day as $\frac{1}{30}$ of a month, and save this into a new column of the DataFrame. Then plot the temperature vs. this new time variable.

### Tips for exercise 2

To add a column to a DataFrame you can start with a list, a numpy array, a series, or any other column from the same DataFrame. The only thing you have to take care of is that the array (or list) is the same length as the DataFrame. 

If we want to create the new column 'time' we do:

In [61]:
data['time']=data['year']-1.+data['month']/12.+data['day']/(30.*12.)

### Write your code here

## Exercise 3

Calculate the average temperature by year and save it into a file. You should create a new DataFrame to do this.

### Tips for exercise 3

The benefit of loading your data into a DataFrame is that pandas has many functions to manipulate data, including, but not limited to: merging two tables, filtering rows by condition, pivoting data, and grouping rows by condition.

To group rows according to same year, use the mean as a grouping function, and generate a new DataFrame named data_year write:

In [66]:
data_year=data.groupby('year').mean()

You will notice that some columns are pointless, like the day column.

To create a DataFrame selecting only the columns you care about the syntax is as follows

In [69]:
data_year=data_year[['Tav']]

To save the DataFrame *data* into a file named 'data.csv' write:

In [72]:
data.to_csv('data.csv')

### Write your code here

## Exercise 4 (Bonus)

Calculate the average temperature of every January of every year and plot it.

### Tips for exercise 4

Pandas allows you to easily filter rows according to a condition set on one of its columns. For example if you want to filter only values from year *2015*

In [101]:
data_filtered=data[data['year']==2015]

### Write your code here: